{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 
{% block content %}
  <div>
    <div class="page-header">
      {% if object %}
        <h1>Edit {{ object.name }}</h1>
      {% else %}
        <h1>Add a List for more Animals</h1>
      {% endif %}
    </div>

    <form action="" method="post" class="form-container">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <button type="submit" class="button-form" >Submit!</button>
    </form>
    {% if object %}
        <a href="{% url 'animal-list-delete' object.id %}" ><button class="button">Delete</button></a>
    {% endif%}
  </div>
{% endblock %}