{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 
{% block content %}

<div style="height:fit-content;">
  <div>
    <div class="page-header">
      {% if animal %}
        <h1>Edit {{ animal.name }}</h1>
      {% else %}
        <h1>Add an Animal</h1>
      {% endif %}
    </div>

    <div>
      {% comment %} https://stackoverflow.com/questions/680770/django-imagefield-not-working-properly-via-modelform {% endcomment %}
      {% comment %} https://stackoverflow.com/questions/4526273/what-does-enctype-multipart-form-data-mean {% endcomment %}
      <form enctype="multipart/form-data" action="" method="post" class="form-container">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <button type="submit" class="button-form" >Submit!</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
