.card-container {
    border: 3px solid #343434;
    box-shadow: 10px 5px 5px #343434;
    background-color: #2980b9;
    width: 300px;
    height: 450px;
    border-radius: 7.5%;
    margin-left: 10px;
    margin-right: 10px;
}

.card-header {
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    background-color: #343434;
    margin-top: 3px;
    margin-left: 4px;
    width: calc(96% - 1px);
    height: 15%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-image {
    margin-left: 4px;
    width: calc(96% - 1px);
    height: 50%;
    border-left: 3px solid black;
    border-right: 3px solid black;
    background-color: #343434;
} .card-image img{
    height: 100%;
    width: 100%;
    object-fit:contain;
}

.card-description {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;    
    background-color: #FFEECF;
    margin-left: 4px;
    width: calc(96% - 3px);
    height: calc(32% - 1px);
    padding: 1px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.description{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.trait-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

.color-block {
    opacity: 0.8;
    margin-left: 5px;
    padding: 1px;
    border: 2px solid #343434;
    border-radius: 15%;
  }

.icon-container{
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
    justify-content: space-evenly;
    flex-direction: row;
}

.x-icon {
  display: block;
  box-sizing:border-box;
  width: 70px;
  height:70px;
  border-width:3px;
  border-style: solid;
  border-color:red;
  border-radius:100%;
  background: linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
  background-color:red;
}.x-icon:hover{
    box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);
}

.check-icon{
    display: inline-block;
    transform: rotate(45deg);
    margin-top: 8px;
    height: 45px;
    width: 20px;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
}

.check-background{
    display: block;
    box-sizing:border-box;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: green;
}.check-background:hover {
    box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);
}

.description-personality{
    display: flex;
    text-align: left;
}

.trait-container{
    display: flex;
    height: fit-content;
    width: fit-content;
    margin-bottom: 3px;
}


.description-likes{
    display: flex;
    text-align: left;
}

.likes-container{
    display: flex;
    height: fit-content;
    width: fit-content;
    margin-bottom: 3px;
}
