@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: "Happy Monkey", sans-serif;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    background-color: #FFFF8F;
    height: 100vh;
    width: 100vw;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li{
    display: flex;
    flex-direction: row;
}

footer {
    font-size: x-large;
    width: 100%;
    height: 80px;
    padding: 1px;
    border-radius: 35px;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
section {
    display: flex;
    justify-content: center;
    height: 70%;
}

button {
    font-weight: bolder;
    background-color:#f39c12;
    border: solid 2px #343434;
    color: #343434;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 5px;
}

.nav-a {
    font-weight: bold;
    margin: auto;
    margin-right: 5px;
    background-color:#f39c12;
    border: solid 2px #343434;
    color: #343434;
    padding: 7px;
    border-radius: 12px;
    text-decoration: none;
}

.container-list {
    position: relative; 
    margin: 20px 20px;
    width: 150px; 
    height: 150px; 
    overflow: hidden;
    border-radius: 50%; 
} 

.container-list img { 
    width: 100%; 
    height: 100%;
}

.animalcontainer {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  margin-bottom: 20px;
  margin-top: 20px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-5%, -50%);
  text-align: center;
}

.animalcontainer:hover .image {
  opacity: 0.3;
}

.animalcontainer:hover .middle {
  opacity: 1;
}

.animalName {
  background-color: #85C7F2;
  color: black;
  font-size: 16px;
  border-radius: 25px;
  padding: 16px 16px;
}

#background-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #85c1e9;
    border: solid 20px #2980b9;
    height: 100%;
    width: 50%;
    border-radius: 100px;
    margin-top: 5px;
}

#card-table{
    display: flex;
    flex-direction: column;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    scroll-behavior: smooth;    
}

.like{
    background-color: #FFEECF;
    border: 0px #FFEECF;
    padding: 0;
}

.dont-like{
    background-color: #FFEECF;
    border: 0px #FFEECF;
    padding: 0;
}

#background-container-profile {
    display: flex;
    flex-direction: column;
    background-color: #FFEECF;
    border: solid 20px #D36582;
    height: fit-content;
    width: min(100%, fit-content);
    border-radius: 100px;
    margin-top: 5px;
}


.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}.buttons-container button{
    margin-top: 5px;
    margin-right: 5px;
}.buttons-container a{
    text-decoration: none;
}.buttons-container button:hover{
    box-shadow: 5px 2px 1px #343434;
}

#lists {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#shelter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#my-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

